<link rel="stylesheet" href="../assets/css/navbar.css">

<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="../index.html">南京工程学院</a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="../index.html" class="nav-link">首页</a>
            </li>
            <li class="nav-item">
                <a href="../pages/youth-survey-team.html" class="nav-link">南工程青年应急勘测队</a>
            </li>
            <li class="nav-item">
                <a href="../pages/lab-intro.html" class="nav-link">实验室介绍</a>
            </li>
            <li class="nav-item">
                <a href="../pages/ketaistudio.html" class="nav-link">凯泰科创工作室</a>
            </li>
            <li class="nav-item">
                <a href="../pages/youtais310.html" class="nav-link">优泰斯310</a>
            </li>
            <li class="nav-item">
                <a href="../pages/achievements319.html" class="nav-link">成果展示区319</a>
            </li>
            <li class="nav-item">
                <a href="../pages/gallery.html" class="nav-link">相册</a>
            </li>
            <li class="nav-item">
                <a href="../pages/blog.html" class="nav-link">博客知识库</a>
            </li>
        </ul>
    </div>
</nav>